<ion-content id="main-content">
  <ion-toolbar align="center">
    <ion-title align="center">
      <img src="../../assets/images/Lincare_White_Smaller.png" alt="logo">
    </ion-title>
  </ion-toolbar>

  <div class="wrapper">
    
    <div id="subtitle" align="center">
      <p> How many full cylinders do you have ? </p>
    </div>
    
    <form class="form-container" (ngSubmit)="onSubmit()">
      <ion-card id="dropdown-card">
        <div id="dropdown" align="center">
          <ion-label > Click below to select an amount </ion-label>
          <ion-select cancel-text="Close" interface="action-sheet" name="numbers-dropdown" (ionChange)="selectChange($event)"
            placeholder="0">
            <ion-select-option *ngFor="let number of amount_list" value="{{number.value}}"> {{number.text}} </ion-select-option>
          </ion-select>
        </div>    
      </ion-card>
    
      <div id="buttons">
        <ion-button expand="block" class="form-action-button" type="submit">
          Submit
        </ion-button>
    
        <div id="cancel-buttons">
          <ion-button id="back-button" expand="block" class="form-action-button" (click)="onBack()">
            Back
          </ion-button>
    
          <ion-button id="cancel-button" expand="block" class="form-action-button" (click)="onCancel()" type="reset">
            Cancel
          </ion-button>
        </div>
      </div>
    </form>
  </div>
</ion-content>

