
ion-title {
  font-size: 4ch;
}

ion-title ion-icon{
  font-size: 1.8ch;
}

#subtitle {
  margin-top: 6.5vh;
}

#subtitle p {
  color: rgb(1, 34, 65);
  font-size: 4ch;
}

.form-container {
  display: flex;
  flex-direction: column;
}

ion-icon {
  vertical-align: top;
  color: black;
}

.form-action-button {
  margin-bottom: 1ch;
  font-size: 2ch;
  height: 5ch;  
  --background: rgb(1, 34, 65);
}

#cancel-buttons {
  display: flex;
}


#cancel-buttons ion-button {
   width: 50%;
}

#buttons {
  margin-top: 10vh;
}

#cancel-button {
  --background: white;
  color: rgb(1, 34, 65);
} 

#back-button {
  --background: white;
  color: rgb(1, 34, 65);
}

ion-card {
  display: flex;
  flex-direction: column;
  height: 17ch;
  box-shadow: 5px 10px 10px rgb(1, 34, 65);
}

#dropdown {
  margin-top: 3.5ch;
}

#dropdown ion-select {
    margin-top: 1ch;
}

#dropdown ion-label, ion-select {
   font-size: 2.5ch;
}