* {
  font-size: large;
}

#main-content {
  --background: none;
  background-image: url("../../assets/images/background.jpg");
  background-size: cover;
}

ion-title {
  font-size: 4ch;
}

ion-title ion-icon{
  font-size: 1.8ch;
}

#subtitle {
  margin-top: 6.5vh;
}

#subtitle p {
  font-size: 4ch;
}

.form-container {
  display: flex;
  flex-direction: column;
}

ion-icon {
  vertical-align: top;
  color: black;
}

.form-action-button {
  margin-bottom: 1ch;
  font-size: 2ch;
  height: 5ch;
}

#cancel-buttons {
  display: flex;
}

#cancel-buttons ion-button {
   width: 50%;
}

#buttons {
  margin-top: 10vh;
}

ion-card {
  display: flex;
  flex-direction: column;
  height: 17ch;
}

#dropdown {
  margin-top: 3.5ch;
}

#dropdown ion-select {
    margin-top: 1ch;
}

#dropdown ion-label, ion-select {
   font-size: 2.5ch;
}