#address p {
  font-size: 2.3ch;
  font-weight: bold;
  color: rgb(1, 34, 65);
}

#buttons {
  display: flex;
}

#buttons ion-button {
   width: 50%;
}

ion-title {
  font-size: 4ch;
}

ion-title ion-icon{
  font-size: 1.8ch;
}

#subtitle {
  margin-top: 6.5vh;
}

#subtitle p {
  color: rgb(1, 34, 65);
  font-size: 4ch;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 6.6ch;
}

ion-icon {
  vertical-align: top;
  color: black;
}

.form-action-button {
  margin-bottom: 1ch;
  font-size: 2ch;
  height: 5ch;
  --background: rgb(1, 34, 65);
}

#no-button {
  color: rgb(1, 34, 65);
  --background: white;
}

ion-card {
    height: 26ch;
    box-shadow: 10ch;
    box-shadow: 5px 10px 10px rgb(1, 34, 65);
}
