* {
  font-size: large;
}

#main-content {
  --background: none;
  background-image: url("../../assets/images/background.jpg");
  background-size: cover;
}

ion-title {
  font-size: 4ch;
}

ion-title ion-icon{
  font-size: 1.8ch;
}

#message {
  text-align: center;
  height: fit-content;
  margin-top: 30vh;
}

p {
  color: black;
  font-size: 3ch;
}


ion-icon {
  vertical-align: top;
  color: black;
}
