ion-title {
  font-size: 4ch;
}

ion-title ion-icon{
  font-size: 1.8ch;
}

#message {
  justify-self: center;
  text-align: center;
  height: fit-content;
  margin-top: 22.5vh;
  box-shadow: 5px 10px 10px rgb(1, 34, 65);
}

p {
  color: black;
  font-size: 3ch;
}


ion-icon {
  vertical-align: top;
  color: black;
}
