<ion-content id="main-content">
  <ion-toolbar>
    <ion-title align="center">
      <img src="../../assets/images/Lincare_White_Smaller.png" alt="logo">
    </ion-title>
  </ion-toolbar>

  <div class="wrapper">

    <div id="delivery-content" align="center">
      <ion-card id="delivery-card">
          <p> 
            We have recieved your order. 
            It is curently being sheduled. 
          </p>
          <p> Thank you for using Lincare ! </p>
      </ion-card>
    </div>

  </div>
</ion-content>
