<ion-content id="main-content">
  <ion-toolbar>
    <ion-title align="center">
      <img src="../../assets/images/lincare_inverse.png" alt="logo">
    </ion-title>
  </ion-toolbar>

  <div class="wrapper">

    <div id="delivery-content" align="center">
      <ion-card id="delivery-card">
          <p> Your order will be delivered on: </p>
          <p> <b> {{formatedDate}} </b> </p>
          <p> You will be notified about the delivery on the due morning ! </p>
      </ion-card>
    </div>

  </div>
</ion-content>
