ion-toolbar {
    --min-height: 9vh;
}

ion-title img {
    height: 6vh;
}

#delivery-card {
    justify-self: center;
    text-align: center;
    height: fit-content;
    margin-top: 18vh;
    box-shadow: 5px 10px 10px rgb(1, 34, 65);
}

p {
    font-size: 3ch;
    color: rgb(1, 34, 65);
}

b {
    font-size: 2ch;
    color: rgb(1, 34, 65);
}