/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.loading {
  background-image: url("assets/images/background.jpg");
  background-size: cover;
  --height: 20%;
  font-size: 2.5ch;
  justify-content: center;
}

// .item-select-toast {
//    font-size: 2.5ch;
//    background-color: rgba(0, 0, 0, 0.4);
//    background-image: url("assets/images/background.jpg") rgba(0, 0, 0);
//    background-size: cover;
// }

// ion-toast::part(button) { 
//   	color: var(--ion-color-primary);
//     background: white;
//     border-radius: 14px;
// }

.item-select-alert .alert-message {
  font-size: 3ch;
  color: rgb(1, 34, 65);
}

.item-select-alert {

    button.alert-button:nth-child(1){
      color: red;
    }

    button.alert-button:nth-child(2){
      color: rgb(1, 34, 65);
    }
}

* {
  font-size: large;
}

ion-toolbar {
  --background: rgb(0, 24, 46);
}

ion-title img {
  height: 6ch;
}

#main-content {
  --background: none;
  background-image: url("../src/assets/images/background.jpg");
  background-size: cover;
}

ion-input {
  --placeholder-color: rgb(1, 34, 65, 1);
}

.loading-patient-data {
  --spinner-color: rgb(1, 34, 65, 1);
  color: rgb(1, 34, 65, 1);
}
