@media screen and (max-height: 620px) {

#date-select {
  --background: none;
  background-image: url("../../assets/images/background.jpg");
  background-size: cover;
}

#date-select ion-button {
   color: rgb(1, 34, 65);
}

#date-select ion-datetime {
  height: 40ch;
  align-self: center;
  position: absolute;
  top:0; left:0; right:0; bottom:0; 
  margin: auto;
}

#subtitle {
  margin-top: -2ch;
}

#subtitle p {
  color: rgb(1, 34, 65);
  font-size: 3.2ch;
}

.form-container {
  margin-top: -3ch;
  display: flex;
  flex-direction: column;
}

ion-icon {
  vertical-align: top;
  color: black;
}

.error-field {
  margin-top: 1ch;
}

.error-message {
  color: var(--ion-color-danger);
  font-size: 1.4ch;
}

#buttons {
  margin-top: 0.5ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-elements {
  height: 14.5ch;
  box-shadow: 5px 10px 10px rgb(1, 34, 65);
}

.form-element {
  justify-self: center;
  margin-top: 5ch;
}

.form-element ion-input{
  font-size: 2.4ch;
}

.form-action-button {
  font-size: 1.8ch;
  height: 5ch;
  --background: rgb(1, 34, 65);
}

#cancel-button {
  color: rgb(1, 34, 65);
  --background: white;
}

.zip-input ion-input {
  margin-top: 0.2ch;
  font-size: 2.2ch;
}

#zip-underline {
  margin-left: 0.7ch;
  letter-spacing: 1ch;
}

}

@media screen and (min-height: 620px) {

  #date-select {
    --background: none;
    background-image: url("../../assets/images/background.jpg");
    background-size: cover;
  }
  
  #date-select ion-button {
    color: rgb(1, 34, 65);
  }
  
  #date-select ion-datetime {
    height: 40ch;
    align-self: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  #subtitle p {
    color: rgb(1, 34, 65);
    font-size: 3.2ch;
  }
  
  .form-container {
    margin-top: -3ch;
    display: flex;
    flex-direction: column;
  }
  
  .error-message {
    color: var(--ion-color-danger);
    font-size: 1.5ch;
  }
  
  .error-field {
    margin-top: 1ch;
  }
  
  .form-elements {
    margin-top: 2ch;
    height: 13.5ch;
    box-shadow: 5px 10px 10px rgb(1, 34, 65);
  }
  
  .form-element {
    justify-self: center;
    margin-top: 4.5ch;
  }
  
  .form-element ion-input {
    font-size: 2.4ch;
  }
  
  #buttons {
    margin-top: 1ch;
    display: flex;
    flex-direction: column;
  }
  
  .form-action-button {
    font-size: 1.8ch;
    height: 4.5ch;
    --background: rgb(1, 34, 65);
  }
  
  #cancel-button {
    color: rgb(1, 34, 65);
    --background: white;
  }
  
  .zip-input ion-input {
    margin-top: 0.2ch;
    font-size: 2.2ch;
  }

  #zip-underline {
    margin-left: 0.7ch;
    letter-spacing: 1ch;
  }

}

@media screen and (min-height: 649px) {

#date-select {
  --background: none;
  background-image: url("../../assets/images/background.jpg");
  background-size: cover;
}

#date-select ion-button {
   color: rgb(1, 34, 65);
}

#date-select ion-datetime {
  height: 40ch;
  align-self: center;
  position: absolute;
  top:0; left:0; right:0; bottom:0; 
  margin: auto;
}

#subtitle p {
  color: rgb(1, 34, 65);
  font-size: 3.2ch;
}

.form-container {
  margin-top: -2ch;
  display: flex;
  flex-direction: column;
  gap: 1ch;
}

.error-message {
  color: var(--ion-color-danger);
  font-size: 1.5ch;
}

.error-field {
  margin-top: 1ch;
}

.form-elements {
  margin-top: 2ch;
  height: 13.5ch;
  box-shadow: 5px 10px 10px rgb(1, 34, 65);
}

.form-element {
  justify-self: center;
  margin-top: 4.5ch;
}

.form-element ion-input{
  font-size: 2.4ch;
}

#buttons {
  margin-top: 0.5ch;
  display: flex;
  flex-direction: column;
}

.form-action-button {
  font-size: 1.8ch;
  height: 4.5ch;
  --background: rgb(1, 34, 65);
}

#cancel-button {
  color: rgb(1, 34, 65);
  --background: white;
}

.zip-input ion-input {
  margin-top: 0.2ch;
  font-size: 2.2ch;
}

#zip-underline {
  margin-left: 0.7ch;
  letter-spacing: 1ch;
}

}

@media screen and (min-height: 679px) {

  #date-select {
    --background: none;
    background-image: url("../../assets/images/background.jpg");
    background-size: cover;
  }

  #date-select ion-button {
    color: rgb(1, 34, 65);
  }

  #date-select ion-datetime {
    height: 40ch;
    align-self: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  #subtitle p {
    color: rgb(1, 34, 65);
    font-size: 3.5ch;
  }

  .form-container {
    margin-top: -2ch;
    display: flex;
    flex-direction: column;
    gap: 1ch;
  }

  .error-message {
    color: var(--ion-color-danger);
    font-size: 1.5ch;
  }

  .error-field {
    margin-top: 1ch;
  }

  .form-elements {
    margin-top: 2ch;
    height: 13.5ch;
    box-shadow: 5px 10px 10px rgb(1, 34, 65);
  }

  .form-element {
    justify-self: center;
    margin-top: 4.5ch;
  }

  .form-element ion-input {
    font-size: 2.4ch;
  }

  #buttons {
    margin-top: 1ch;
    display: flex;
    flex-direction: column;
  }

  .form-action-button {
    font-size: 1.8ch;
    height: 4.5ch;
    --background: rgb(1, 34, 65);
  }

  #cancel-button {
    color: rgb(1, 34, 65);
    --background: white;
  }

  .zip-input ion-input {
    margin-top: 0.2ch;
    font-size: 2.2ch;
  }

  #zip-underline {
    margin-left: 0.7ch;
    letter-spacing: 1ch;
  }

}

@media screen and (min-height: 699px) {

  #date-select {
    --background: none;
    background-image: url("../../assets/images/background.jpg");
    background-size: cover;
  }

  #date-select ion-button {
    color: rgb(1, 34, 65);
  }

  #date-select ion-datetime {
    height: 40ch;
    align-self: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  #subtitle p {
    color: rgb(1, 34, 65);
    font-size: 3.5ch;
  }

  .form-container {
    margin-top: -2ch;
    display: flex;
    flex-direction: column;
    gap: 2ch;
  }

  .error-message {
    color: var(--ion-color-danger);
    font-size: 1.5ch;
  }

  .error-field {
    margin-top: 1ch;
  }

  .form-elements {
    margin-top: 2ch;
    height: 13.5ch;
    box-shadow: 5px 10px 10px rgb(1, 34, 65);
  }

  .form-element {
    justify-self: center;
    margin-top: 4.5ch;
  }

  .form-element ion-input {
    font-size: 2.4ch;
  }

  #buttons {
    margin-top: 1ch;
    display: flex;
    flex-direction: column;
    gap: 0.5ch;
  }

  .form-action-button {
    font-size: 1.8ch;
    height: 4.5ch;
    --background: rgb(1, 34, 65);
  }

  #cancel-button {
    color: rgb(1, 34, 65);
    --background: white;
  }

  .zip-input ion-input {
    margin-top: 0.2ch;
    font-size: 2.2ch;
  }

  #zip-underline {
    margin-left: 0.7ch;
    letter-spacing: 1ch;
  }

}